mixin intro()
  -
    const list = [
      {
        text: "Totam rem aperiam eaque ipsa",
      },
      {
        text: "Sit voluptatem accusantium doloremque laudantium",
      },
      {
        text: "Sed ut perspiciatis, unde omnis iste natus error",
      },
    ]
  section.intro
    .intro__background
      +img("content", "intro", "jpg", 1919, 850, "test")
    .container
      .intro__wrapper
        h1
          b Lorem ipsum
          |   dolor sit ametconsectetur
          b  adipiscing
        .intro__advantages
          p At vero eos et accusamus et iusto odio dignissimos ducimus!
          ul.intro__list
            each item in list
              li.intro__list-item!= item.text
        .intro__buttons
          +btn({
            text: "заказать",
            classMods: ["blue"],
          }).intro__btn
          +btn({
            text: "подробнее",
            classMods: ["white"],
          }).intro__btn

