.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  padding: 15px;
  text-transform: uppercase;

  transition: color $trans-default;

  &--blue {
    background-color: $color-summer-sky-darkest;
    box-shadow: inset 0 0 0 1px $color-default-white;
    color: $color-default-white;
  }

  &--white {
    background-color: $color-default-white;
    box-shadow: inset 0 0 0 1px $color-dolphin;
    color: $color-black-russian;
  }

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}
