.custom-slider {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  input {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;

    white-space: nowrap;

    border: 0;

    clip: rect(0 0 0 0);
    clip-path: inset(100%);
  }

  &__text {
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    color: $color-default-white;

    p {
      margin: 0 0 15px 0;

      @include vp-1023 {
        max-width: 50%;
      }
    }
  }

  &__value {
    font-weight: 600;
    margin-left: 15px;
  }

  &__range {
    @include vp-767 {
      width: 90%;
      margin: 0 auto;
    }
  }
}
