.custom-select {
  position: relative;

  @media screen and (max-width: 767px) {
    padding: 4px 0 14px;
    width: 100%;
  }

  &__label {
    position: absolute;
    top: 50%;
    left: 10px;

    transform: translateY(-50%);

    transition: transform $trans-default, opacity  $trans-default;

    pointer-events: none;

    @media screen and (max-width: 767px) {
      transform: translateY(calc(-50% - 5px));
    }
  }

  &__placeholder {
    position: absolute;
    top: 50%;
    left: 10px;
    font-size: 18px;

    transform: translateY(-50%);

    transition: transform $trans-default, opacity $trans-default;

    pointer-events: none;

    @media screen and (max-width: 767px) {
      transform: translateY(calc(-50% - 5px));
    }
  }

  select {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;

    white-space: nowrap;

    border: 0;

    clip: rect(0 0 0 0);
    clip-path: inset(100%);
  }

  &__button {
    display: flex;
    align-items: center;
    width: 100%;
    height: 48px;
    padding: 5px 15px 5px 10px;
    background-color: $color-white-opacity-85;
    border: 1px solid $color-default-white;
    border-radius: 3px;
    outline: none;
    cursor: pointer;

    transition: border $trans-default, background-color $trans-default;

    @include hover-focus {
      background-color: $color-default-white;
    }

    &:disabled {
      pointer-events: none;
      opacity: 0.3;
    }
  }

  &__list {
    position: absolute;
    bottom: 2px;
    z-index: 2;

    width: 100%;
    max-height: 180px;
    margin: 0;
    padding: 0;
    overflow-y: scroll;

    list-style: none;
    font-size: 18px;
    color: $color-default-white;
    background-color: $color-jaguar;
    border-left: 1px solid #3d4050;
    border-bottom: 1px solid #3d4050;
    border-right: 1px solid #3d4050;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    transform: translateY(100%);
    visibility: hidden;
    opacity: 0;

    @-moz-document url-prefix() {
      scrollbar-color: $color-summer-sky-darkest $color-blue-zodiac-opacity-85;
      scrollbar-width: thin;
    }

    &::-webkit-scrollbar {
      width: 7px;
    }

    &::-webkit-scrollbar-track {
      background: $color-blue-zodiac-opacity-85;
      border-radius: 3px;
    }

    &::-webkit-scrollbar-thumb {
      background: $color-summer-sky-darkest;
      border-radius: 3px;
    }

    transition: visibility 0.3s ease, opacity 0.3s ease;
  }

  &__item {
    padding: 5px;

    outline: none;
    cursor: pointer;

    transition: color $trans-default, background-color $trans-default;

    &[aria-selected="true"] {
      background-color: $color-endeavour;
    }

    &:not([aria-selected="true"]) {
      @include hover-focus {
        color: $color-summer-sky-darker;
        background-color: $color-black-russian-opacity-90;
      }
    }
  }

  &__error {
    position: absolute;
    bottom: -15px;
    left: 0;

    color: #ff1553;

    opacity: 0;

    transition: opacity 0.1s ease;
  }

  &__text {
    font-size: 18px;
    flex-shrink: 0;
    width: 80%;
    overflow: hidden;

    text-align: left;
    white-space: nowrap;
    text-overflow: ellipsis;

    opacity: 0;

    color: $color-jaguar;
    transition: opacity $trans-default, color $trans-default;

    br {
      display: none;
    }
  }

  &__icon {
    flex-shrink: 0;
    width: 8px;
    height: 5px;
    margin-left: auto;

    background-color: $color-default-black;

    transition: transform 0.3s ease;

    clip-path: polygon(100% 0, 100% 20%, 50% 100%, 0 20%, 0 0, 50% 80%);
  }

  &.is-disabled {
    pointer-events: none;

    .custom-select__list {
      display: none;
    }
  }

  &.open-up {
    .custom-select__list {
      bottom: auto;
      top: 0;
      transform: translateY(calc(-100% + 10px));
    }
  }

  &.is-open {
    .custom-select__list {
      visibility: visible;
      opacity: 1;
    }

    .custom-select__icon {
      transform: rotate(180deg);
      background-color: $color-default-white;
    }

    .custom-select__label {
      opacity: 0;
    }

    .custom-select__button {
      background-color: $color-blue-zodiac-opacity-85;
      border-color: $color-blue-zodiac;
    }

    .custom-select__placeholder {
      color: $color-default-white;
    }

    .custom-select__text {
      color: $color-default-white;
    }
  }

  &.not-empty {
    .custom-select__text {
      opacity: 1;
    }

    .custom-select__label {
      opacity: 0;
    }

    .custom-select__placeholder {
      opacity: 0;
    }
  }

  &.is-invalid {
    .custom-select__button {
      border-color: $color-torch-red;
    }
  }

  &--placeholder {
    .custom-select__label {
      transform: translateY(calc(-50% - 40px));
      opacity: 1;
    }

    &.is-open .custom-select__label {
      opacity: 1;
    }

    &.not-empty .custom-select__label {
      opacity: 1;
    }
  }

  &.slide-up.not-empty,
  &.slide-up.is-open {
    .custom-select__label {
      transform: translateY(calc(-50% - 40px));
      opacity: 1;
    }

    .custom-select__text {
      opacity: 1;
    }
  }

  .input-message {
    position: absolute;
    right: 0;
    bottom: -5px;

    &.is-invalid {
      color: #ff0000;
    }

    &.is-valid {
      color: #15ab07;
    }
  }
}
