.footer {
  padding: 30px 0;
  background-color: $color-blue-zodiac;

  &__wrapper {
    position: relative;
    display: grid;
    grid-template-columns: 0.8fr 1fr 0.8fr;
    gap: 19px 38px;

    &::before,
    &::after {
      position: absolute;
      content: "";
      top: 0;
      bottom: 0;
      width: 1px;
      background-color: $color-silver-lighter;

      @include vp-767 {
        display: none;
      }
    }

    &::before {
      left: 30%;
    }

    &::after {
      right: 30%;
    }

    @include vp-767 {
      gap: 38px;
      grid-template-columns: 1fr;
    }
  }

  &__copyright {
    color: $color-default-white;
    font-size: 13px;
    line-height: 1.2;
    margin: 0;
    display: flex;
    grid-column: 1 / 2;
    grid-row: 1 / 2;

    @include vp-767 {
      grid-column: auto;
      grid-row: auto;
      text-align: center;
      justify-self: center;
    }
  }

  &__cell {
    position: relative;

    &:not(.footer__copyright) {
      justify-content: flex-end;
    }

    &:nth-of-type(3n+1):not(.footer__copyright) {
      justify-self: center;

      @include vp-767 {
        justify-self: inherit;
      }
    }
  }
}
