mixin custom-slider()
  .custom-slider&attributes(attributes)
    .custom-slider__text
      p Sed ut perspiciatis, unde omnis iste natus
      span.custom-slider__value(data-range-value)
    .range.custom-slider__range
    input(type= "range", name= "user-range", tabindex ="-1", data-range-input)
