mixin header(headerMods, currentUrl)
  -
    const headerLinks = [
      {
        href: "index.html",
        text: "Бизнес",
      },
      {
        href: "#",
        text: "О нас",
      },
      {
        href: "#",
        text: "Цены",
      },
      {
        href: "#",
        text: "Оформить заказ",
      },
    ]

  header.header(class=headerMods, data-header="sticky")
    .container
      .header__wrapper
        if(currentUrl === "index.html")
          +logo().header__logo
        else
          +logo({isLink:true}).header__logo
        nav.main-nav.header__nav
          .main-nav__wrapper(data-close-menu)
            ul.main-nav__list(data-scroll-lock-scrollable)
              each link in headerLinks
                - const activeState = currentUrl === link.href
                li.main-nav__item
                  if(activeState)
                    span.link.is-active.main-nav__link!= link.text
                  else
                    a.link.main-nav__link(data-close-menu, href=link.href)!= link.text
        +burger().header__nav-toggle
